# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/

# Local envs
.venv/
venv/

# Build / dist
build/
dist/
*.egg-info/

# Generated outputs
results*/
test_*/

# Large reference annotation files (don't upload to GitHub)
*.gff
*.gff3
